<div class="barra_lateral_padrao">
   
    <!-- Adiciona as duas logos -->
    <img src="/images/logo.jpg" class="logo-grande" width="190px">
    <img src="/images/ico_mini_ft.png" class="logo-pequena" width="30px">
    <div id="menu-container">
        <div id="main-menu" class="menu-panel active">
            <div class="container_botoes">
                <li class="menu-item-sidebar" id="menu_adm" data-target="#admin-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">ADMINISTRADOR</p>
                </li>
                <li class="menu-item-sidebar" id="menu_almx" data-target="#almx-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">ALMOXARIFADO</p>
                </li>
                <li class="menu-item-sidebar" id="menu_beneficiamento" data-target="#beneficiamento-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">BENEC. FABRIL</p>
                </li>

                <li class="menu-item-sidebar" id="menu_chatfloy" data-target="#chatfloy-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">CHAT FLOY</p>
                </li>
                <li class="menu-item-sidebar" id="menu_cadgerais" data-target="#cadgerais-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">CADASTROS GERAIS</p>
                </li>
                <li class="menu-item-sidebar" id="menu_caldeiraria" data-target="#caldeiraria-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">CALDEIRARIA</p>
                </li>
                <li class="menu-item-sidebar" id="menu_comext" data-target="#comext-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">COMERCIO EXT</p>
                </li>
                <li class="menu-item-sidebar" id="menu_compras" data-target="#compras-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">COMPRAS</p>
                </li>
                <li class="menu-item-sidebar" id="menu_contrcomerc" data-target="#contrcomerc-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">CONT. COMERCIAIS</p>
                </li>
                <li class="menu-item-sidebar" id="menu_cdq" data-target="#cdq-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">CONT. QUALIDADE</p>
                </li>
                <li class="menu-item-sidebar" id="menu_eng" data-target="#eng-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">ENGENHARIA</p>
                </li>
                <li class="menu-item-sidebar" id="menu_estqmp" data-target="#estqmp-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">ESTOQUE MP</p>
                </li>
                <li class="menu-item-sidebar" id="menu_estqprodacab" data-target="#estqprodacab-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">ESTOQUE PROD ACAB</p>
                </li>
                <li class="menu-item-sidebar" id="menu_expedicao" data-target="#expedicao-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">EXPEDIÇÃO</p>
                </li>
                <li class="menu-item-sidebar" id="menu_ferramentaria" data-target="#ferramentaria-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">FERRAMENTARIA</p>
                </li>
                <li class="menu-item-sidebar"  id="menu_gerencia_geral" data-target="#gerencia-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">GERENCIA GERAL</p>
                </li>
                <li class="menu-item-sidebar" id="menu_gest_am" data-target="#GestAmb-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">GESTÃO AMBIENTAL</p>
                </li>
                <li class="menu-item-sidebar" id="menu_logistica" data-target="#logistica-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">LOGISTICA</p>
                </li>
                <li class="menu-item-sidebar" id="menu_logistica" data-target="#logistica-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">LABORATORIO</p>
                </li>
                <li class="menu-item-sidebar" id="menu_logistica" data-target="#logistica-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">MANUTENÇÃO</p>
                </li>
                <li class="menu-item-sidebar" id="menu_logistica" data-target="#logistica-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">MARKETING</p>
                </li>
                <li class="menu-item-sidebar" id="menu_logistica" data-target="#logistica-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">MELHORIA CONTINUA</p>
                </li>
                <li class="menu-item-sidebar" id="menu_logistica" data-target="#logistica-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">MONTAGEM</p>
                </li>
                <li class="menu-item-sidebar" id="menu_logistica" data-target="#logistica-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">OCORRENCIAS</p>
                </li>
                <li class="menu-item-sidebar" id="menu_pcp" data-target="#pcp-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">PCP</p>
                </li>
                <li class="menu-item-sidebar" id="menu_pcp" data-target="#pcp-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">PRODUÇÃO</p>
                </li>
                <li class="menu-item-sidebar" id="menu_pcp" data-target="#pcp-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">PROJETOS</p>
                </li>
                <li class="menu-item-sidebar" id="menu_pcp" data-target="#pcp-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">RECEBIMENTO</p>
                </li>
                <li class="menu-item-sidebar" id="menu_pcp" data-target="#pcp-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">RH</p>
                </li>
                <li class="menu-item-sidebar" id="menu_sgi" data-target="#sgi-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">SGI</p>
                </li>
                <li class="menu-item-sidebar" id="menu_sgi" data-target="#sgi-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">SEPARAÇÃO</p>
                </li>
                <li class="menu-item-sidebar" id="menu_sgi" data-target="#sgi-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">SERVIÇOS</p>
                </li>
                <li class="menu-item-sidebar" id="menu_sso" data-target="#sso-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">SAUDE & SEGURANÇA</p>
                </li>
                <li class="menu-item-sidebar" id="menu_sso" data-target="#sso-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">T.I</p>
                </li>
                <li class="menu-item-sidebar" id="menu_vendas" data-target="#vendas-submenu">
                    <img class="icon" src="/images/ico_sext.png">
                    <p class="menu-title">VENDAS</p>
                </li>
            </div>
        </div>

        <div id="admin-submenu" class="menu-panel">
            <div class="submenu-header back-button-item">
                </div>
            <div class="container_botoes submenu-items">
                <a href="/view/DocumentosProcesso/ctDocAdministrativo.html" class="submenu-item">Documentos do Processo</a>
                <a href="#" class="submenu-item">Configurações</a>
                <a href="/ticketForteTech.html" class="submenu-item">Tickets</a>
            </div>
        </div>

        <div id="almx-submenu" class="menu-panel">
            <div class="submenu-header back-button-item">
                </div>
            <div class="container_botoes submenu-items">
                  <a class="submenu-item" href="/Html/Almoxarifado/ctDocAlmoxarifado.html">Documentos do Processo</a>
            </div>
        </div>

        <div id="beneficiamento-submenu" class="menu-panel">
            <div class="submenu-header back-button-item">
                </div>
            <div class="container_botoes submenu-items">
               <a href="/Romaneio.html" class="submenu-item">Controle de Romaneio</a> 
                <a href="TelaOS.html" class="submenu-item">Controle de OS</a>
                <a href="/Html/Beneficiamento/ctDocBeneficiamento.html" class="submenu-item">Documentos do Processo</a>
            </div>
        </div>  

         <div id="chatfloy-submenu" class="menu-panel">
            <div class="submenu-header back-button-item">
                </div>
            <div class="container_botoes submenu-items">
                <a href="/ChatFloy.html" class="submenu-item">Chat com Floy</a>                 
            </div>
        </div>  
        
        <div id="cadgerais-submenu" class="menu-panel">
            <div class="submenu-header back-button-item">
                </div>
            <div class="container_botoes submenu-items">
                <a href="/CadFornec.html" class="submenu-item">Cadastrado de Fornecedor</a>                 
            </div>
        </div>
        
        <div id="caldeiraria-submenu" class="menu-panel">
            <div class="submenu-header back-button-item">
                </div>
            <div class="container_botoes submenu-items">
                <a href="/Html/Caldeiraria/document/TelaDocProcesso.html" class="submenu-item">Documentos do Processo</a>                 
            </div>
        </div> 

         <div id="comext-submenu" class="menu-panel">
            <div class="submenu-header back-button-item">
                </div>
            <div class="container_botoes submenu-items">
                <a href="#" class="submenu-item">Emitir Invoice</a>                 
            </div>
        </div> 

        <div id="compras-submenu" class="menu-panel">
            <div class="submenu-header back-button-item">
                </div>
            <div class="container_botoes submenu-items">
                <a class="submenu-item" href="analise_aprov.html" ><li>Análises Aprovadas</li></a>
                <a class="submenu-item" href="/Html/Compras/CtDocCompras.html" ><li>Documentos do Processo</li></a> 
            </div>
        </div> 

        <div id="contrcomerc-submenu" class="menu-panel">
            <div class="submenu-header back-button-item">
                </div>
            <div class="container_botoes submenu-items">
                <a class="submenu-item" href="/Html/ContratosComerciais/ctDocContComerc.html"><li>Documentos do Processo</li></a>
            </div>
        </div> 

        <div id="cdq-submenu" class="menu-panel">
            <div class="submenu-header back-button-item">
                </div>
            <div class="container_botoes submenu-items">
                <a href="/Html/ControleQualidade/dcprocessoctqua.html" class="submenu-item">Documentos do Processo</a>
            </div>
        </div>

        <div id="eng-submenu" class="menu-panel">
            <div class="submenu-header back-button-item">
                </div>
            <div class="container_botoes submenu-items">
                 <a class="submenu-item" href="/CadNovProcesso.html" >
                        <li>Cadastrar Novo Processo</li>
                </a> 
                <a class="submenu-item" href="/CadNovoRoteiro.html" >
                    <li>Cadastrar Novo Roteiro</li>
                </a> 
                <a class="submenu-item" href="/Html/Engenharia/TelaDocProcesso.html" onclick="setarEngenharia()">
                    <li>Documentos do Processo</li>
                </a> 
                <a class="submenu-item" href="/analise_aprov.html" >
                        <li>Análises Aprovadas</li>
                </a> 
            </div>
        </div>

        <div id="estqmp-submenu" class="menu-panel">
            <div class="submenu-header back-button-item">
                </div>
            <div class="container_botoes submenu-items">
                <a class="submenu-item" href="/Html/EstoqueMP/TelaDocProcesso.html" class="submenu-item" >Documentos do Processo</a>
            </div>
        </div>

        <div id="estqprodacab-submenu" class="menu-panel">
            <div class="submenu-header back-button-item">
                </div>
            <div class="container_botoes submenu-items">
                <a href="/Html/EstoqueProdAcabado/ctDocEstoqueProdAcabado.html" class="submenu-item" >Documentos do Processo</a>
            </div>
        </div>

        <div id="expedicao-submenu" class="menu-panel">
            <div class="submenu-header back-button-item">
                </div>
            <div class="container_botoes submenu-items">
                <a href="/Html/Expedicao/ctDocExpedicao.html" class="submenu-item" >Documentos do Processo</a>
            </div>
        </div>

        <div id="ferramentaria-submenu" class="menu-panel">
            <div class="submenu-header back-button-item">
                </div>
            <div class="container_botoes submenu-items">
                <a href="/Html/Ferramentaria/ctDocFerramentaria.html" class="submenu-item">Documentos do Processo</a>
            </div>
        </div>
                <div id="gerencia-submenu" class="menu-panel">
            <div class="submenu-header back-button-item"></div>
            <div class="container_botoes submenu-items">
                <a href="/TelaSolicitHrExtraRH.html" class="submenu-item">Solicitar Hora Extra</a>
                <a href="/Html/GerenciaGeral/docProcesso.html" class="submenu-item">Documentos do Processo</a>
            </div>
        </div>

        <div id="GestAmb-submenu" class="menu-panel">
            <div class="submenu-header back-button-item"></div>
            <div class="container_botoes submenu-items">
                <a href="/Inicial_Descarte.html" class="submenu-item">Gestão de Resíduos</a>
                <a href="/Abastecimentos.html" class="submenu-item">Registros de Abastecimentos</a>
                <a href="/Html/GestaoAmbiental/ctDocGa.html" class="submenu-item">Documentos do Processo</a>
                <a href="https://apps.powerapps.com/play/e/default-2e21f4f5-7264-4ce8-b635-91be2dda51b0/a/38051b1c-d4ee-44ec-bea9-53f81df7477d?tenantId=2e21f4f5-7264-4ce8-b635-91be2dda51b0&sourcetime=1729253981565&source=portal&hidenavbar=true" 
                   target="_blank" class="submenu-item">Solicitações de Abastecimento</a>
            </div>
        </div>

        <div id="laboratorio-submenu" class="menu-panel">
            <div class="submenu-header back-button-item"></div>
            <div class="container_botoes submenu-items">
                <a href="/Laboratorio.html" class="submenu-item">Relatório de Inspeção</a>
                <a href="/TelaInicialInstrumentos.html" class="submenu-item">Instrumentos de Medição</a>
                <a href="/Html/Laboratorio/TelaDocProcesso.html" class="submenu-item">Documentos do Processo</a>
            </div>
        </div>

        <div id="logistica-submenu" class="menu-panel">
            <div class="submenu-header back-button-item"></div>
            <div class="container_botoes submenu-items">
                <a href="analise_aprov.html" class="submenu-item">Análises Aprovadas</a>
                <a href="/controleEmbalagem.html" class="submenu-item">Controle de Embalagem</a>
            </div>
        </div>

        <div id="manutencao-submenu" class="menu-panel">
            <div class="submenu-header back-button-item"></div>
            <div class="container_botoes submenu-items">
                <a href="/Html/Manutencao/ctDocManut.html" class="submenu-item">Documentos do Processo</a>
            </div>
        </div>

        <div id="mkt-submenu" class="menu-panel">
            <div class="submenu-header back-button-item"></div>
            <div class="container_botoes submenu-items">
                <a href="/Html/Mkt/ctDocMkt.html" class="submenu-item">Documentos do Processo</a>
            </div>
        </div>

        <div id="melhoriacontinua-submenu" class="menu-panel">
            <div class="submenu-header back-button-item"></div>
            <div class="container_botoes submenu-items">
                <a href="/Html/MelhoriaContinua/ctDocMelhoriaContinua.html" class="submenu-item">Documentos do Processo</a>
            </div>
        </div>

        <div id="montagem-submenu" class="menu-panel">
            <div class="submenu-header back-button-item"></div>
            <div class="container_botoes submenu-items">
                <a href="/Html/MontagemConjCritico/ctDocMontConjCritico.html" class="submenu-item">Documentos do Processo</a>
            </div>
        </div>

        <div id="ocorrencias-submenu" class="menu-panel">
            <div class="submenu-header back-button-item"></div>
            <div class="container_botoes submenu-items">
                <a href="OcorrenciaInternaQua.html" class="submenu-item">Ocorrência de Qualidade</a>
                <a href="/ocorrenciaFornecedor.html" class="submenu-item">Ocorrência com Fornecedor</a>
                <a href="/ticketForteTech.html" class="submenu-item">Ticket Forte Tech</a>
            </div>
        </div>

        <div id="pcp-submenu" class="menu-panel">
            <div class="submenu-header back-button-item"></div>
            <div class="container_botoes submenu-items">
                <a href="/analise_aprov.html" class="submenu-item">Análises Aprovadas</a>
                <a href="/Html/Pcp/DocProcessoPcp.html" class="submenu-item">Documentos do Processo</a>
                <a href="/TelaOS.html" class="submenu-item">Controle de OS</a>
            </div>
        </div>

        <div id="producao-submenu" class="menu-panel">
            <div class="submenu-header back-button-item"></div>
            <div class="container_botoes submenu-items">
                <a href="/TelaInicialInstrumentos.html" class="submenu-item">Instrumentos de Medição</a>
                <a href="/TelaOS.html" class="submenu-item">Controle de OS</a>
                <a href="/Html/Producao/TelaSelectProcesso.html" class="submenu-item">Documentos do Processo</a>
            </div>
        </div>

        <div id="projetos-submenu" class="menu-panel">
            <div class="submenu-header back-button-item"></div>
            <div class="container_botoes submenu-items">
                <a href="/Html/Projetos/ctDocProjetos.html" class="submenu-item">Documentos do Processo</a>
            </div>
        </div>

        <div id="recebimento-submenu" class="menu-panel">
            <div class="submenu-header back-button-item"></div>
            <div class="container_botoes submenu-items">
                <a href="/Html/Recebimento/ctDocRecebimento.html" class="submenu-item">Documentos do Processo</a>
            </div>
        </div>

        <div id="rh-submenu" class="menu-panel">
            <div class="submenu-header back-button-item"></div>
            <div class="container_botoes submenu-items">
                <a href="/Html/RH/ctDocRH.html" class="submenu-item">Documentos do Processo</a>
            </div>
        </div>

        <div id="sso-submenu" class="menu-panel">
            <div class="submenu-header back-button-item"></div>
            <div class="container_botoes submenu-items">
                <a href="/TelaAcidenteIncidente.html" class="submenu-item">Acidentes & Incidentes</a>
                <a href="/Html/SSO/TelaDocProcesso.html" class="submenu-item">Documentos do Processo</a>
            </div>
        </div>

        <div id="separacao-submenu" class="menu-panel">
            <div class="submenu-header back-button-item"></div>
            <div class="container_botoes submenu-items">
                <a href="/Html/Seperacao/ctDocSeparacao.html" class="submenu-item">Documentos do Processo</a>
            </div>
        </div>

        <div id="servicos-submenu" class="menu-panel">
            <div class="submenu-header back-button-item"></div>
            <div class="container_botoes submenu-items">
                <a href="/Html/servicos/ctDocServicos.html" class="submenu-item">Documentos do Processo</a>
            </div>
        </div>

        <div id="sgi-submenu" class="menu-panel">
            <div class="submenu-header back-button-item"></div>
            <div class="container_botoes submenu-items">
                <a href="/ct_documentos.html" class="submenu-item">Controle de Documentos</a>
                <a href="/TelaInicialInstrumentos.html" class="submenu-item">Instrumentos de Medição</a>
                <a href="/Html/SGI/CtDocSGI.html" class="submenu-item">Documentos do Processo</a>
            </div>
        </div>

        <div id="ti-submenu" class="menu-panel">
            <div class="submenu-header back-button-item"></div>
            <div class="container_botoes submenu-items">
                <a href="/Html/TI/ctDocTI.html" class="submenu-item">Documentos do Processo</a>
            </div>
        </div>

        <div id="vendas-submenu" class="menu-panel">
            <div class="submenu-header back-button-item"></div>
            <div class="container_botoes submenu-items">
                <a href="/TelaInicialAnaliseCritica.html" class="submenu-item">Análise Crítica</a>
                <a href="/analise_aprov.html" class="submenu-item">Análises Aprovadas</a>
                <a href="https://apps.powerapps.com/play/e/default-2e21f4f5-7264-4ce8-b635-91be2dda51b0/a/a962bb73-729f-481b-a4ad-f4201b7cdd08?tenantId=2e21f4f5-7264-4ce8-b635-91be2dda51b0&sourcetime=1721317784987&source=portal&hidenavbar=true" target="_blank" class="submenu-item">Estrutura de Produto</a>
                <a href="/Html/Vendas/DocProcessoVendas.html" class="submenu-item">Documentos do Processo</a>
            </div>
        </div>

    </div>
      <button id="botao-toggle-sidebar" class="toggle-sidebar-btn" title="Fechar Menu">
            <img src="/images/ico_seta.png" alt="Toggle" />
        </button>
    <body style="margin: 0; min-height: 100vh; display: flex; flex-direction: column;">
     
    <div class="substitulo" style="text-align: center; padding: 20px;">
        <P style="font-size: 13px;font-family: 'Montserrat', sans-serif;font-weight: bold;">By - Igor Botini</P>
    </div>

</body>

</div>

<script>
const sidebar = document.querySelector('.barra_lateral_padrao');
const botaoToggle = document.getElementById('botao-toggle-sidebar');
const toggleImg = botaoToggle.querySelector('img');

const menuContainer = document.getElementById('menu-container');
const menuItems = document.querySelectorAll('.menu-item-sidebar');
const mainMenu = document.getElementById('main-menu');


// 🟠 MENU PRINCIPAL > SUBMENU
menuItems.forEach(item => {
    item.addEventListener('click', function () {
        const targetPanelId = this.dataset.target;
        const targetPanel = document.querySelector(targetPanelId);
        const submenuHeader = targetPanel.querySelector('.submenu-header');

        const clonedContent = item.cloneNode(true);
        clonedContent.classList.remove('menu-item-sidebar');
        clonedContent.removeAttribute('data-target');
        clonedContent.classList.add('back-button-content');

        submenuHeader.innerHTML = '';
        submenuHeader.appendChild(clonedContent);

        submenuHeader.removeEventListener('click', handleBackButtonClick);
        submenuHeader.addEventListener('click', handleBackButtonClick);

        if (targetPanel) {
            mainMenu.classList.remove('active');
            mainMenu.classList.add('slide-out');

            setTimeout(() => {
                targetPanel.classList.add('active');
                menuContainer.classList.add('submenu-active-state');
            }, 300);
        }
    });
});

// 🔙 VOLTAR PARA O MENU PRINCIPAL
function handleBackButtonClick() {
    const currentPanel = this.closest('.menu-panel');
    this.removeEventListener('click', handleBackButtonClick);

    if (currentPanel) currentPanel.classList.remove('active');

    mainMenu.classList.remove('slide-out');
    mainMenu.classList.add('active');
    menuContainer.classList.remove('submenu-active-state');
}

botaoToggle.addEventListener('click', () => {
    sidebar.classList.toggle('fechar');
    document.body.classList.toggle('sidebar-fechada');

    if (sidebar.classList.contains('fechar')) {
        toggleImg.style.transform = 'rotate(0deg)';
        botaoToggle.title = 'Abrir Menu';
        botaoToggle.style.right = '-5px';
    } else {
        toggleImg.style.transform = 'rotate(180deg)';
        botaoToggle.title = 'Fechar Menu';
        botaoToggle.style.right = '0px';
    }
});





</script>

<style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

/* Barra lateral fixa */
.barra_lateral_padrao {
    width: 190px;
    background-color: #f9f9f9;
    color: #333;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 3333;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Mini logo */
.logo-pequena {
    display: none;
    margin-top: 10px;
}

/* Recolhida */
.barra_lateral_padrao.fechar {
    width: 60px;
    transition: width 0.3s ease;
}

.barra_lateral_padrao.fechar .logo-grande {
    display: none;
}

.barra_lateral_padrao.fechar .logo-pequena {
    display: block;
}

.barra_lateral_padrao.fechar .menu-title,
.barra_lateral_padrao.fechar .submenu-header,
.barra_lateral_padrao.fechar .submenu-item,
.barra_lateral_padrao.fechar .substitulo,
.barra_lateral_padrao.fechar .container_botoes {
    display: none;
}

.barra_lateral_padrao.fechar #menu-container {
    overflow: hidden;
}

/* Botão recolher */
.toggle-sidebar-btn {
    background-color: #f36c32;
    border: none;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    position: absolute;
    top: 37px;
    right: 0px;
    width: 26px;
    height: 36px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    padding: 0;
    transition: right 0.3s ease;
}

.toggle-sidebar-btn img {
    width: 18px;
    height: 18px;
    transition: transform 0.3s ease;
    transform: rotate(180deg);
}

.barra_lateral_padrao.fechar ~ .toggle-sidebar-btn {
    left: 60px;
}

/* Menu container */
#menu-container {
    position: relative;
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
}

/* Painéis */
.menu-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebebeb;
    transition: transform 0.35s ease-in-out;
}

#main-menu.active {
    transform: translateX(0);
}

.menu-panel:not(#main-menu) {
    transform: translateX(100%);
}

.menu-panel.active:not(#main-menu) {
    transform: translateX(0);
}

#main-menu.slide-out {
    transform: translateX(-100%);
}

/* Botões principais */
.container_botoes {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
}

.menu-item-sidebar {
    background-color: #ebebeb;
    height: 35px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-left: 10px;
    transition: background-color 0.2s ease;
}

.menu-item-sidebar:hover {
    background-color: #e74e0f;
    color: white;
}
.menu-item-sidebar:hover .menu-title {
    color: white;
}

.menu-item-sidebar.active {
    background-color: #e74e0f;
    color: white;
}

.menu-title {
    font-size: 11px;
    color: #333;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif; ;
}

.icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    transition: transform 0.5s ease;
}

.menu-item-sidebar:hover .icon {
    transform: rotate(360deg);
}

/* Submenu */
.submenu-header {
    width: 100%;
    background-color: #eaeaea;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    padding: 0;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: background-color 0.2s ease;
}

.submenu-header:hover {
    background-color: #f36c32;
    
}

.back-button-content {
    
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 10px;
}


.back-button-content .icon {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.back-button-content .menu-title {
    font-size: 13px;
    color: #333;
    font-weight: 600;
}


.submenu-header:hover .menu-title {
    color: white;
}

.submenu-item {
    
    background-color: #ffffff; 
    display: block;
    color: #1b1b1b;
    text-decoration: none;
    padding: 2px 1px;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.2s ease;
}

.submenu-item:hover {
    background-color: #f36c32;
    color: white;
}


</style>